$about-collapse-margin: 40px;
$about-collapse-mobile-margin: 20px;

@mixin show-content {
  .content.show {
    height: fit-content;
  }
}

@mixin about-collapse-styles {
  margin: $about-collapse-margin 0;

  .accordion {
    width: 90%;
  }

  @media only screen and (max-width: 599px) {
    margin: $about-collapse-mobile-margin;
  }
}

.about-collapse {
  @include about-collapse-styles;
}

@include show-content;


