$housing-sheet-margin: 40px;
$header-housing-gap: 20px;
$header-right-gap: 20px;
$tag-gap: 20px;
$host-gap: 20px;
$rating-margin: 20px;
$rating-font-size: 35px;
$host-img-width: calc(64/1440*100vw);
$host-img-height: calc(64/1440*100vw);
$housing-collapse-height: 249px;
$housing-collapse-color: #FF6060;
$host-img-mobile-width: calc(192/1440*100vw);
$host-img-mobile-height: calc(192/1440*100vw);

@mixin housing-sheet {
  display: flex;
  flex-direction: column;
  margin: $housing-sheet-margin;
}

@mixin header-housing {
  display: flex;
  justify-content: space-between;
}

@mixin header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.red {
  color: #FF6060;
}

@mixin tags {
  display: flex;
  gap: $tag-gap;
  margin: 20px 0;
}

@mixin host {
  display: flex;
  align-items: center;
  gap: $host-gap;

  img {
    width: $host-img-width;
    height: $host-img-height;
    border-radius: 50%;
    padding: 10px;
  }
}

@mixin rating {
  display: flex;
  justify-content: space-evenly;
  font-size: $rating-font-size;
  margin: $rating-margin 0;
}

@mixin housing-collapse {
  .content.show {
    height: $housing-collapse-height;
    color: $housing-collapse-color;
  }

  @media only screen and (max-width: 599px) {
    .content.show {
      height: auto;
    }
  }
}

.description,
.equipements {
  width: 100%;
}

.housing-sheet {
  @include housing-sheet;

  .header-housing {
    @include header-housing;
  }

  .header-right {
    @include header-right;
  }

  .tags {
    @include tags;
  }

  .body-housing {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .host {
    @include host;
  }

  .rating {
    @include rating;
  }

  .housing-collapse {
    @include housing-collapse;
  }
  
  @media only screen and (max-width: 599px) {
    margin: 20px;

    .header-housing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .header-right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .host {
      gap: 30px;

      h2 {
        font-size: 16px;
        width: 50px;
      }
    }

    .rating {
      margin: 10px 0;
    }

    .host img {
      width: $host-img-mobile-width;
      height: $host-img-mobile-height;
      border-radius: 50%;
    }

    .body-housing {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .housing-collapse {
      @include housing-collapse;
    }

    .tags {
      @include tags;
      flex-wrap: wrap;
    }
  }
}
