$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$monospace-stack: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

@mixin smooth-font-rendering {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: $font-stack;
  @include smooth-font-rendering;
}

code {
  font-family: $monospace-stack;
}
