$link-color: #FF6060;
$header-margin: 20px;
$nav-gap: 40px;

a {
  color: $link-color;
}

.header {
  margin: $header-margin;
}

.header-body {
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $nav-gap;
}

.link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
}

.active {
  text-decoration: underline;
}

@media only screen and (max-width: 599px) {
  .header-body img {
    width: 60%;
  }

  .nav {
    gap: 15px;
  }

  .link {
    font-size: 17px;
    min-width: 70px;
  }
}
